# GENERAL OPTIONS
# ---------------

# Server port (only port range 8303-8310 show up in LAN tab,
# defaults to 0 to automatically select free port in range 8303-8310)
sv_port 8303

# Server name
sv_name "My InfClass server"

# Password for joining the server, empty for no password
password ""

# rcon (F2) passwords for admin. If you don't set one, a random one will be
# created and shown in the terminal window of the server.
sv_rcon_password ""

# rcon (F2) password for moderator. If you don't set one, none exists.
sv_rcon_mod_password ""

# Register server (make it public)
sv_register 0



# ADVANCED OPTIONS
# ----------------
# File where server log will be stored
logfile infclassr.log

# Log level (-3 = None, -2 = Error, -1 = Warn, 0 = Info, 1 = Debug, 2 = Trace)
loglevel 0

# Max players on server
sv_max_clients 64

# Max players with the same IP address
sv_max_clients_per_ip 4

# Tournament mode - when enabled players joins the server as spectator
sv_tournament_mode 0


# SERVER CUSTOMIZATION
# --------------------
clear_maps
add_map infc_skull
add_map infc_lunaroutpost
add_map infc_bamboo2
add_map infc_halfdust
add_map infc_warehouse
add_map infc_damascus
add_map infc_half_provence
add_map infc_eidalfitr
add_map infc_newdust
add_map infc_hardcorepit
add_map infc_bamboo3
add_map infc_towers
add_map infc_headquarter
add_map infc_normandie_2k19
add_map infc_toilet
add_map infc_spacelab
add_map infc_warehouse2
add_map infc_sewers
add_map infc_malinalli_k9f
add_map infc_canyon
add_map infc_floatingislands
add_map infc_k9f_small

sv_warmup 9

# Use a config file to execute whenever a map is changed
# sv_reset_file "reset.cfg"

sv_slash_me 1

# CUSTOM VOTES
# ------------

add_vote "Skip this map" "skip_map"
add_vote "Queue fun round" "queue_fun_round"



# ADDITIONAL COMMANDS PERMISSIONS
# -------------------------------

# You can see all commands which are accessible for specific authentication-levels by using "access_status"
# Format: access_status [0: admin, 1: moderator, 2: helper or 3: user]
#
# Format: access_level [command] [0: admin, 1: moderator, 2: helper or 3: user]
# Where 0 means only accessible for admin, 1 gives access to moderator and 2 gives access to helper
# Example: mod_command ban 1

# Non-default commands to which moderators and helpers will have access

# commands for moderators only
access_level ban 1
access_level unban 1
access_level mute 1
access_level unmute 1
access_level kick 1
access_level force_vote 1

# explicitly enable set_class only for admins
access_level inf_set_class 0

# CUSTOM CONFIG
# -------------

# if you do not want updates to overwrite your settings create a
# file called myServerconfig.cfg and put your config there
exec myServerconfig.cfg
