add_vote "Start survival (difficulty: 1)" start_survival_scenario survivals/bats-for1.cfg
add_vote "Start survival (difficulty: 2)" start_survival_scenario survivals/bats-for2.cfg
add_vote "Start survival (difficulty: 3)" start_survival_scenario survivals/bats-for3.cfg
add_vote "Start survival (difficulty: 4)" start_survival_scenario survivals/bats-for4.cfg
add_vote "Start survival (difficulty: 5)" start_survival_scenario survivals/bats-for5.cfg
add_vote "Start survival (difficulty: 6, +tank)" start_survival_scenario survivals/bats-for6.cfg
add_vote "Start survival (difficulty: 7)" start_survival_scenario survivals/bats-for7.cfg
# add_vote "Start survival (difficulty: 8)" start_survival_scenario survivals/bats-for8.cfg
# add_vote "Start survival (difficulty: 9, kekality)" start_survival_scenario survivals/bats-for9.cfg
# add_vote "Start survival (difficulty: 10, kekality, now for real)" start_survival_scenario survivals/bats-for10.cfg
# add_vote "Start survival (difficulty: 11, should be easy, huh?)" start_survival_scenario survivals/bats-for11.cfg
