add_vote "Start survival (level 1, 2 players max)" start_survival_scenario survivals/bats-for1.cfg
add_vote "Start survival (level 2, 4 players max)" start_survival_scenario survivals/bats-for2.cfg
add_vote "Start survival (level 3, 4 players max)" start_survival_scenario survivals/bats-for3.cfg
add_vote "Start survival (level 4, 6 players max)" start_survival_scenario survivals/bats-for4.cfg
add_vote "Start survival (level 5, 6 players max)" start_survival_scenario survivals/bats-for5.cfg
add_vote "Start survival (level 6, 8 players max)" start_survival_scenario survivals/bats-for6.cfg
add_vote "Start survival (level 7, 8 players max)" start_survival_scenario survivals/bats-for7.cfg
# add_vote "Start survival (level 8)" start_survival_scenario survivals/bats-for8.cfg
# add_vote "Start survival (level 9, kekality)" start_survival_scenario survivals/bats-for9.cfg
# add_vote "Start survival (level 10, kekality, now for real)" start_survival_scenario survivals/bats-for10.cfg
# add_vote "Start survival (level 11, should be easy, huh?)" start_survival_scenario survivals/bats-for11.cfg
