# add_vote "Switch the mode to survival game" exec survivals/survival_game.cfg
add_vote "Switch the mode to survival game (6 players max)" eval_if active_players_number < 7 "exec survivals/survival_game.cfg" else "say Too many players"
