
inf_bot_lives 2
inf_survival_infected_spawning_delay 5

survival_clear_conf

survival_conf max-players 4

survival_add_wave 1 "The Meeting"
survival_conf_wave 1 add bat spawn=asap tweaks=weak-hook
survival_conf_wave 1 add bat spawn=asap tweaks=weak-hook
survival_conf_wave 1 add bat spawn=asap tweaks=weak-hook
survival_conf_wave 1 add bat spawn=asap tweaks=weak-hook
survival_conf_wave 1 add bat spawn=10sec tweaks=weak-hook
survival_conf_wave 1 add bat spawn=10sec tweaks=weak-hook
survival_conf_wave 1 add bat spawn=20sec tweaks=weak-hook
survival_conf_wave 1 add bat spawn=20sec tweaks=weak-hook
survival_conf_wave 1 add bat spawn=20sec tweaks=weak-hook
survival_conf_wave 1 add bat spawn=20sec tweaks=weak-hook

survival_add_wave 2 "The Green Smoke from the Red cap"
survival_conf_wave 2 add smoker spawn=asap tweaks=weak-hook
survival_conf_wave 2 add voodoo spawn=asap tweaks=weak-hook
survival_conf_wave 2 add spider spawn=asap tweaks=weak-hook
survival_conf_wave 2 add spider spawn=asap tweaks=weak-hook

survival_conf_wave 2 add boomer spawn=5sec tweaks=weak-hook
survival_conf_wave 2 add slug spawn=5sec tweaks=weak-hook
survival_conf_wave 2 add slug spawn=5sec tweaks=weak-hook

survival_conf_wave 2 add slug spawn=10sec respawn=5sec
survival_conf_wave 2 add slug spawn=10sec respawn=5sec
survival_conf_wave 2 add witch spawn=25sec lives=1 hp=120 drop_level=1

survival_add_wave 3 "Who's there?"
survival_conf_wave 3 add smoker spawn=asap
survival_conf_wave 3 add hunter spawn=asap
survival_conf_wave 3 add bat spawn=asap
survival_conf_wave 3 add slug spawn=asap

survival_conf_wave 3 add boomer spawn=5sec
survival_conf_wave 3 add voodoo spawn=5sec

survival_conf_wave 3 add ghost spawn=12sec lives=3 respawn=2.5sec hp=2
survival_conf_wave 3 add ghost spawn=12sec lives=3 respawn=2.5sec hp=2
survival_conf_wave 3 add ghost spawn=12sec lives=3 respawn=2.5sec hp=2
survival_conf_wave 3 add ghost spawn=12sec lives=3 respawn=2.5sec hp=2

survival_conf_wave 3 add ghost spawn=20sec lives=3 respawn=0.5sec hp=2
survival_conf_wave 3 add ghost spawn=20sec lives=3 respawn=0.5sec hp=2
survival_conf_wave 3 add ghost spawn=20sec lives=3 respawn=0.5sec hp=2

# Boss
survival_conf_wave 3 add ghost spawn=25sec lives=1 tweaks=threat-aware hp=160 drop_level=1

survival_add_wave 4 "The Flying Expiration"
survival_conf_wave 4 add smoker spawn=asap
survival_conf_wave 4 add smoker spawn=asap
survival_conf_wave 4 add hunter spawn=asap
survival_conf_wave 4 add hunter spawn=asap
survival_conf_wave 4 add spider spawn=asap tweaks=strong-hook
survival_conf_wave 4 add spider spawn=asap tweaks=strong-hook
survival_conf_wave 4 add slug spawn=asap

survival_conf_wave 4 add bat spawn=15sec tweaks=strong-hook
survival_conf_wave 4 add bat spawn=15sec tweaks=strong-hook
survival_conf_wave 4 add bat spawn=20sec tweaks=strong-hook respawn=2sec
survival_conf_wave 4 add bat spawn=20sec tweaks=strong-hook respawn=2sec
survival_conf_wave 4 add bat spawn=25sec lives=1 hp=180 drop_level=2

survival_add_wave 5 "Aaagraah Mmnaaaah!"
survival_conf_wave 5 add smoker spawn=asap
survival_conf_wave 5 add smoker spawn=asap
survival_conf_wave 5 add hunter spawn=asap
survival_conf_wave 5 add hunter spawn=asap
survival_conf_wave 5 add spider spawn=asap

survival_conf_wave 5 add slug spawn=asap
survival_conf_wave 5 add boomer spawn=asap
survival_conf_wave 5 add slug spawn=10sec
survival_conf_wave 5 add boomer spawn=10sec
survival_conf_wave 5 add voodoo spawn=10sec
survival_conf_wave 5 add voodoo spawn=10sec

survival_conf_wave 5 add ghoul spawn=15sec respawn=5sec hp=40 lives=2 drop_level=2
survival_conf_wave 5 add ghost spawn=20sec
survival_conf_wave 5 add ghoul spawn=30sec respawn=5sec hp=60 lives=2 drop_level=2

survival_conf_wave 5 add bat spawn=35sec hp=4 respawn=5sec
survival_conf_wave 5 add bat spawn=35sec hp=4 respawn=5sec
survival_conf_wave 5 add bat spawn=40sec hp=4 respawn=5sec
survival_conf_wave 5 add bat spawn=40sec hp=4 respawn=5sec

survival_add_wave 6 "Good bye"
survival_conf_wave 6 add ghost spawn=asap lives=2
survival_conf_wave 6 add ghost spawn=asap lives=2
survival_conf_wave 6 add ghost spawn=asap lives=2
survival_conf_wave 6 add ghost spawn=asap lives=2

survival_conf_wave 6 add slug spawn=10sec lives=2 respawn=5sec
survival_conf_wave 6 add slug spawn=10sec lives=2 respawn=5sec
survival_conf_wave 6 add boomer spawn=10sec lives=2 respawn=5sec
survival_conf_wave 6 add boomer spawn=10sec lives=2 respawn=5sec
survival_conf_wave 6 add voodoo spawn=10sec lives=2 respawn=5sec
survival_conf_wave 6 add voodoo spawn=10sec lives=2 respawn=5sec

survival_conf_wave 6 add tank spawn=20sec lives=1 hp=320 drop_level=2

survival_conf_wave 6 add slug   spawn=45sec  hp=5
survival_conf_wave 6 add slug   spawn=45sec  hp=5
survival_conf_wave 6 add slug   spawn=45sec  hp=5
survival_conf_wave 6 add spider spawn=46sec  hp=5
survival_conf_wave 6 add spider spawn=46sec  hp=5
survival_conf_wave 6 add spider spawn=46sec  hp=5
survival_conf_wave 6 add boomer spawn=47sec  hp=5
survival_conf_wave 6 add boomer spawn=47sec  hp=5
survival_conf_wave 6 add hunter spawn=47sec  hp=5
survival_conf_wave 6 add hunter spawn=47sec  hp=5
survival_conf_wave 6 add hunter spawn=47sec  hp=5
survival_conf_wave 6 add hunter spawn=47sec  hp=5
survival_conf_wave 6 add bat    spawn=48sec  hp=5
survival_conf_wave 6 add bat    spawn=48sec  hp=5
survival_conf_wave 6 add bat    spawn=48sec  hp=5
survival_conf_wave 6 add bat    spawn=48sec  hp=5

start_survival
